{% extends 'base.html.twig' %}

{% block title %} {{ "Create"|title }} {% endblock %}

{% block content %}

    <hr>
    <h1 class="my-5">Registro de Facturas</h1>
    <hr>

    <h4 class="my-2">Información general</h4>

    {{ form_start(form) }}
        {{ form_row(form) }}

        <div class="card-body">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a href="{{ path('home') }}" type="button" class="btn btn-secondary">Cancelar</a>
        </div>
    {{ form_end(form) }}

{% endblock %}