{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block header %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('{{ asset('build/image/banner.jpg') }}')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Regresa el mayor concurso de ventas que te reconoce como VIP</h3>
                    <p>
                        Desde el 1 de agosto de 2018 hasta el 31 de enero de 2019, tus ventas de las categorías de los productos HPI aplican
                        <br> para convertirte en uno de los mejores vendedores del año.
                    </p>
                    <a href="{{ path('invoice.new') }}" class="btn btn-primary">Agregar factura</a>
                    <a href="{{ path('invoice.list') }}" class="btn btn-primary">Mis facturas</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h1 class="my-4">Bienvenido a INVOICE VIP</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/image/box1.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Vende y Registra</a>
                    </h4>
                    <p class="card-text">
                        Identifica las categorías de los productos en tus facturas:
                        <ul>
                            <li>Cómputo Comercial</li>
                            <li>Servicios / Care Packs</li>
                            <li>Productos de Impresión A3</li>
                            <li>Consumibles</li>
                            <li>Impresoras y Multifuncionales HP LaserJet</li>
                            <li>y PageWide Pro, Enterprise & Managed</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/image/box2.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Enfoca tus Ventas</a>
                    </h4>
                    <p class="card-text">
                        Mantente atento e identifica los productos que te harán ganar este viaje.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ asset('build/image/box3.jpg') }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Registra y Gana</a>
                    </h4>
                    <p class="card-text">
                        Acumula montos dobles y disfruta de un viaje especial...
                        <br><br>
                        Con el concurso anual de ventas para canales, dónde buscamos compensarte por tus ventas y esfuerzo llevándote a la playa de Acapulco.
                        <br><br>
                        Los 60 vendedores con mayor número de ventas registradas serán los ganadores del viaje especial.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}