{% extends 'base.html.twig' %}

{% import 'forms.html.twig' as forms %}

{% block title %} {{ "Landing Page"|title }} {% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% if app.user %}
        <p>Nombre de usuario: {{ app.user.username }}</p>

        <p>Perfiles de usuario:
            <ul>
            {% for role in app.user.roles %}
                <li>
                    {{ role }}
                </li>
            {% else %}
                <li><em>no profile found</em></li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
    {% if app.debug %}
        <p>Método request: {{ app.request.method }}</p>
        <p>Entorno de la aplicación: {{ app.environment }}</p>

    {% endif %}

    {% set manzanas = "manzanas" %}
    {% set json = {1 : 'manzanas',2 :'peras', 3 :'uvas'} %}
    {{ "Prefiero %2$s a %1$s."|format(manzanas, "peras") }}
    {{ [1, 2, 3]|join(',') }}
    <p>
        {{ json|json_encode() }}
    </p>

    {% for key in json|keys %}
        {{ "Llave:" ~ key }}
    {% endfor %}
    <ul>
    {% for value in json|sort %}
        <li>
            {{ "Valor : " ~ value|capitalize }}
        </li>
    {% endfor %}
    </ul>
    <p>{{ 9800.333|number_format(2, '.', ',') }}</p>

    {% set color = 'verde' %}
    {{ "Eso es %this% y %that%."|replace({'%this%': color, '%that%': "azul"}) }}

    <p>
        {% set fruits = ['manzana', 'piña', 'naranja'] %}

        {% for i in 0..11 %}
            {{ cycle(fruits, i) }}
        {% endfor %}
    <p>{{ "Valor aleatorio : " ~ random(fruits) }}</p>
    </p>

    <p>
        {{ max(1, 3, 2) }}
        {{ max([1, 3, 2]) }}
    </p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'first'|capitalize }}</th>
            <th scope="col">Last</th>
            <th scope="col">{{ 'date'|capitalize }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>{{ "now"|date("d/m/Y h:m:s", "America/Bogota") }}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

    <dl>
        <dt>Username</dt>
        <dd>{{ forms.input('username') }}</dd>
        <dt>Password</dt>
        <dd>{{ forms.input('password', null, 'password') }}</dd>
    </dl>
    <p>{{ forms.textarea('comment') }}</p>


    {% verbatim %}
        <ul>
        {% for item in seq %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endverbatim %}

{% endblock %}