<!doctype html>

{#<html lang="en">#}
    {#<head>#}
        {#<!-- Required meta tags -->#}
        {#<meta charset="utf-8">#}
        {#<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}

        {#{% block stylesheets %}#}
            {#<!-- Bootstrap CSS -->#}
            {#<link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />#}
        {#{% endblock %}#}
    {#</head>#}
    {#<body>#}
        {#<div class="container">#}
            {#<div class="header m_t20">#}
                {#<div class="row">#}
                    {#<div class="col-md-11 text-right">#}
                        {#{{ app.user.email }}#}
                    {#</div>#}
                    {#<div class="">#}
                        {#<a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Salir</a>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="row">#}
                {#</div>#}

                {#{% if app.user %}#}
                    {#<div class="row">#}
                        {#{% block menu %}#}
                            {#{% include 'menu.html.twig' %}#}
                        {#{% endblock %}#}
                    {#</div>#}
                {#{% endif %}#}
            {#</div>#}

            {#<div id="messages-flash">#}
                {#{% for label, messages in app.flashes %}#}
                    {#{% for message in messages %}#}
                        {#<div class="flash-{{ label }}">#}
                            {#{{ message }}#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#{% endfor %}#}
            {#</div>#}

            {#<div id="content">#}
                {#{% block body %}{% endblock %}#}
            {#</div>#}

            {#<div class="footer">#}
                {#{% block footer %}{% endblock %}#}
            {#</div>#}
        {#</div>#}

        {#{% block javascripts %}#}
            {#<script src="{{ asset('build/js/app.js') }}"></script>#}
        {#{% endblock %}#}
    {#</body>#}
{#</html>#}

<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}{{ ' - ' ~ app_name }}</title>

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
    {% endblock %}

</head>

<body>
    {% include 'menu.html.twig' %}

    <header>{% block header %}{% endblock %}</header>
    <!-- Page Content -->
    <div class="container">{% block content %}{% endblock %}</div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</body>




